.thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  /* Adjust this value to set the size of the circular pattern */
  margin: 20px auto;
  max-width: 100vw;
}

.thumbnail-image {
  align-items: center;
  width: 1rem;
  /* Adjust this value to set the size of the individual images */
  height: 1rem;
  /* Adjust this value to set the size of the individual images */
  border-radius: 20%;
  border: 2px solid transparent;
  cursor: pointer;
  /* transition: transform 0.1s ease; */
}

.glass-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* White with 0.8 opacity */
  z-index: -1;
  /* Place it below the images */
}